@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
@import "system";
@import "header";
@import "modelInside";
@import "member";
@import "list";

body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    -webkit-overflow-scrolling: touch;
    position: relative;
    background-color: #fbfbfb;
  
}

.container-fluid {
    min-height: 100px;
}

.more {
    color: #fff;
    font-size: $font*2;
    text-decoration: none;
  
    img {
        margin-right: 15px;
    }
    &:hover {
        color: initial;
        text-decoration: none;
    }
}

.f-color {
    color: $m-color;
}

#loginBox {

       .loginImg {

        @include pad(){

            img {
               
                height: 200px;
                object-fit: cover;
                width: 100%;
                object-position: center;

            }

        
          

        }


        @include mob(){

            img {
                height: 300px;
                object-fit: cover;
                width: 100%;
                object-position: center;
            }

        }



    }

    width: 960px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    @include xl-pad(){
        width: 85%;
    }

    @include pad(){
            width: 60%;
            max-height: 500px;
            overflow: auto;
    }

    @include mob(){
        width: 100%;
        position: static;
        top: inherit;
        left: inherit;
        transform: translate(0,0);
        margin: 0 auto;
        height: 100vh;
        box-shadow:none;

    }

    .btnstyle {
        background-color: $m-color;
        color: #fff;
    }

    form {

        .error {color: #f44336;font-size: $font*0.9;}
        .success { color:green;font-size: $font*0.9;}


        @include mob(){
            padding: 15px;
        }
    }

    h1.mb-3.f-color.fs-4 {
       @include mob(){
        text-align: center;
        padding-top: 10px;
       }

    }

    .loginInfo {
        padding: 0 25px;

        @include pad(){
            padding:25px;
        }
       
        @include mob(){
        
         padding-top: 25px;
        }
    }
   

}

.imageBoxstyle {
      
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:10px ;
    img {
        border-radius:10px ;
    }
}



.runNewsbox {

    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 5px;
    max-height: 53px;

    .runNewstitle {
        background-color: $m-color;
        color: #fff;
        padding: 2px 10px;
        border-radius: 5px;
        font-size: $font*1.4;
        @include mob(){
            font-size: $font*1;
            text-align: center;
            padding: 6.5px 0;
        }
       
       
    }
    ul {
        @include ulstyle();

        li {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-flex;
            margin-right: 20px;
            line-height: 37.5px;
            color: #333;
            @include mob(){
                line-height: 37px;
            }

           
        }
        .tip-1 {
            color: #fff;
            background-color: #f44336;
            margin-right: 5px;
            padding:  0 10px;
            border-radius: 5px;
        }
        .tip-2 {
            color: #fff;
            background-color: $m-color;
            margin-right: 5px;
            padding:  0 10px;
            border-radius: 5px;
        }
        .tip-3 {
            color: #fff;
            background-color: #13b320;
            margin-right: 5px;
            padding:  0 10px;
            border-radius: 5px;
        }
    }
}

.sliderBoxWarp {
    min-height: 400px;
    @include mob(){
        min-height: inherit;
    }

    #sliderBox {
   
  

        .owl-nav {
          
            margin: 0;
          
    
        }
    
        .owl-prev {
          position: absolute;
          left: 25px;
          color: #fff;
          font-size: $font*2;
          font-weight: 800;
          top: 50%;
          transform: translateY(-50%);
          @include mob(){
           display: none;
          }
    
        }
        .owl-next {
            position: absolute;
            right: 25px;
            color: #fff;
            font-size: $font*2;
            font-weight: 800;
            top: 50%;
            transform: translateY(-50%);
            @include mob(){
                display: none;
               }
        }
    
        .sliderList {
    
            .sliderInfo {
                position: absolute;
                top: 30px;
                left: 50px;
                color: #fff;
                font-weight: bold;
                @include mob(){
                    top: 5px;
                    left: 15px;
                }
                .imageTitle {
                    font-size: $font*2.125;
                    @include mob(){
                        font-size: $font*1;
                    }
                }
                .modelName {
                    font-size: $font*1.75;
                    @include mob(){
                        font-size: $font*1;
                    }
                }
            }
            .favorite {
                position: absolute;
                top: 30px;
                color: #fff;
                font-size: $font*2;
                right: 40px;
                @include mob(){
                    top: 5px;
                    right: 15px;
                }
                i {
                    cursor: pointer;
                }
            }
            .reserve {
                position: absolute;
                right: 32px;
                bottom: 40px;
                @include mob(){
                    right: 10px;
                    bottom: 20px;
                }
    
                a {
                    text-decoration: none;
                    background-color: #fff;
                    display: inline-block;
                    padding: 10px 15px;
                    border-radius: 10vw;
                    color: $m-color;
                    font-weight: 500;
                    font-size: $font*1.5;
                    @include mob(){
                        font-size: $font*1;
                    }
        
                }
            }
        }
        
    }

}



.masterTitle {
    color: $m-color;
    font-weight:$bold;
    font-size: $font*1.75;
    margin-bottom: 15px;
    @include mob(){
        font-size: $font*1.2;
    }

    svg {
       
        fill: $m-color;
    }

    img {
        transform: translateY(-5px);
    }
}

.newModelWarp {
    position: relative;

    &:after {
        content: '';
        width: 100%;
        height: 85%;
        background-color: #E0E7F8;
        position: absolute;
        top: 20vh;
        z-index: -1;
        @include mob(){
            height: 90%;
        }
    }

}

.newModel {
  
    .modelList {
        padding: 15px 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        color: $m-color;
        background-color: #fff;
        border-radius: 10px;
        .modelInfo {
            i {
                cursor: pointer;
            }
        }
    }
    .modelData {
        p {
            margin: 0;
            font-weight: 500;
        }
    }
    a.reserve {
        
            color: #fff;
            display: inline-block;
            padding: 3px 10px;
            border-radius: 10vw;
            background-color: $m-color;
            text-decoration: none;
            @include mob(){
                margin-top: 10px;
            }
          
       
    }
    .more {
        &:hover {
            color: $m-color;
        }
        @include mob(){
            font-size: $font*1 !important;
            color: $m-color;
        }
    }
   
}

.hotModel {

    .col-md-5 {

        img {
            object-fit: cover;
            object-position: center;
            height: 735px;
            @include xl(){
                height: 100%;
            }
            @include xl-pad(){
                height: 100%;
            }
            @include pad(){
                height: 100%;
            }
           
        }

        .imageBoxstyle {
            @include xl(){
                height: 97%;
            }
            @include xl-pad(){
                height: 97%;
            }
            @include pad(){
                height: 97%;
            }
        }
    }

    .col {
        margin-bottom: 20px;
        @include mob(){
            margin-bottom: 0;
        }
    }

    .imageBoxstyle {
      
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius:10px ;
        @include mob(){
            margin-bottom: 20px;
        }
       img {
        border-radius: 10px;

        @include mob(){
            border-radius: 10px;
            object-fit: cover;
            object-position: top;
            width: 100%;
            height: 200px;
        }
       }
       
    }
}


.areaList {
    min-height: 400px;

    .newModel:nth-child(even){
        position: relative;   
        &:before {
            content: "";
            background-color: rgba(245, 214, 233,.45);
            width: 200%;
            height: 106%;
            top: -20px;
            position: absolute;
            left: -20%;
            z-index: -1;
            @include mob(){
               display: none;
            }
           }
        .masterTitle {
            color: #EEAFD5;
            svg {
                fill:#EEAFD5;
            }
        }
        .modelList , .f-color {
            color: #EEAFD5;
        }
        .reserve {
            background-color:#EEAFD5;
        }

        .owl-theme .owl-dots .owl-dot span {
           
            background: #f5d6e9;
        }
        .owl-theme .owl-dots .owl-dot.active span {
            background-color: #EEAFD5;
        }
       

    }

}








footer {
    background-color: $m-color;
    text-align: center;
    color: #fff;
    margin-top: 25px;
    padding: 10px 0;
}